.container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(
    90deg,
    rgba(4, 211, 97, 1) 0%,
    rgba(18, 18, 20, 1) 0%,
    rgba(35, 25, 60, 1) 60%,
    rgba(97, 52, 201, 1) 100%
  );

  padding: 1em;
}

.logoContainer h1 {
  color: var(--color-white);
}

.logoContainer h1 span {
  color: var(--color-purple);
}

.searchBoxContainer input {
  border: 0;
  border-radius: 1em;

  font-size: 16px;

  padding: 1em;
}

.searchIcon {
  background: #fff;
  font-size: 22px;
  position: absolute;
  right: 2em;
  top: 1.5em;
}

@media (max-width: 463px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .searchBoxContainer input {
    margin-top: 1em;
  }

  .searchIcon {
    top: 4em;
    right: 3em;
  }
}
